Doc/node-red.json
[{"id":"b757386e2a6113fa","type":"comment","z":"3ace58d31a763fb7","name":"KM271 - Heizung","info":"","x":200,"y":90,"wires":[]},{"id":"684a6fa63b7d6ac3","type":"mqtt in","z":"3ace58d31a763fb7","name":"","topic":"esp_heizung/status/#","qos":"2","datatype":"auto","broker":"cfad789e.d15798","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":140,"wires":[["f6e8921643c2df74"]]},{"id":"9e0ffff5e69d048f","type":"mqtt in","z":"3ace58d31a763fb7","name":"","topic":"esp_heizung/config/#","qos":"2","datatype":"auto","broker":"cfad789e.d15798","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":200,"wires":[["6f5cc10720ea3f25"]]},{"id":"e2e2df016624478f","type":"mqtt in","z":"3ace58d31a763fb7","name":"","topic":"esp_heizung/alarm/#","qos":"2","datatype":"auto","broker":"cfad789e.d15798","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":250,"wires":[["3c66235d1e81171a"]]},{"id":"f6e8921643c2df74","type":"function","z":"3ace58d31a763fb7","name":"Filter","func":"msg.topic = msg.topic.substr(19);\n\nif (msg.payload != \"online\" && msg.payload != \"offline\") {\n    if (isNaN(msg.payload)) {\n        msg.payload = (msg.payload);\n    }\n    else {\n        msg.payload = parseInt(msg.payload);\n    }\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":140,"wires":[["8f36fb4a3c64bcd3"]]},{"id":"6f5cc10720ea3f25","type":"function","z":"3ace58d31a763fb7","name":"Filter","func":"msg.topic = msg.topic.substr(19);\n\nif (isNaN(msg.payload)) {\n    msg.payload = (msg.payload);\n}\nelse {\n    msg.payload = parseInt(msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":200,"wires":[["f2059a3f49123459"]]},{"id":"3c66235d1e81171a","type":"function","z":"3ace58d31a763fb7","name":"Filter","func":"msg.topic = msg.topic.substr(18);\n\nif (isNaN(msg.payload)) {\n    msg.payload = (msg.payload);\n}\nelse {\n    msg.payload = parseInt(msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":250,"wires":[["e8bc1baec0517d14"]]},{"id":"e8bc1baec0517d14","type":"function","z":"3ace58d31a763fb7","name":"influx-format","func":"var message = [\n    {\n        measurement: msg.topic,\n        fields: {\n            value: msg.payload  \n        },\n        tags:{\n            type: 'error',\n            ort: 'keller',\n            sensor: 'km271',\n        },\n    }\n];\n\nmsg = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":250,"wires":[["f9b5a4b004289b4b"]]},{"id":"f2059a3f49123459","type":"function","z":"3ace58d31a763fb7","name":"influx-format","func":"var message = [\n    {\n        measurement: msg.topic,\n        fields: {\n            value: msg.payload  \n        },\n        tags:{\n            type: 'config',\n            ort: 'keller',\n            sensor: 'km271',\n        },\n    }\n];\n\nmsg = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":200,"wires":[["f9b5a4b004289b4b"]]},{"id":"8f36fb4a3c64bcd3","type":"function","z":"3ace58d31a763fb7","name":"influx-format","func":"var message = [\n    {\n        measurement: msg.topic,\n        fields: {\n            value: msg.payload  \n        },\n        tags:{\n            type: 'status',\n            ort: 'keller',\n            sensor: 'km271',\n        },\n    }\n];\n\nmsg = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":140,"wires":[["f9b5a4b004289b4b"]]},{"id":"f9b5a4b004289b4b","type":"influxdb batch","z":"3ace58d31a763fb7","influxdb":"12964b84.42778c","precision":"","retentionPolicy":"","name":"Heizung","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"smarthome","bucket":"heizung","x":950,"y":200,"wires":[]},{"id":"cfad789e.d15798","type":"mqtt-broker","name":"Mosquitto Docker","broker":"192.168.178.2","port":"1883","clientid":"node-red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"12964b84.42778c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"influxdb","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"http://192.168.178.2:8086/","rejectUnauthorized":false},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]